body {
}
#Panel{
    display:flex;
    justify-content:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Times New Roman', serif;
    font-weight:lighter;
    font-size:1.7em;
    width:inherit;
}

table {
     color:white;
     border:solid 2px White;
     background:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.18));
     padding:5px;
}
table a {
    color:white;
    background-color:transparent;
    border: solid 1px white;
    border-radius:10px;
    padding:4px 8px;
    font-size:0.9em;
}
table a:hover{
    color:black;
    background-color:white;
    transition:ease-in-out 0.3s all;
    border:dashed 1px red;
}
table tr{
    border:solid 2px White;
    padding:5px;
}
table tr td{
    padding:10px;
    color:coral;
    background:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.88));
}
input[type=text]{
    background-color:transparent;
    border-color:none;
}
.txtField{
    border:none;
    outline:none;
    background-color:transparent;
    color:white;
}
/* MAster Page Style*/
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("../Backgrounds/BG-Signup.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}
#frame{
    display:flex;
    justify-content:center;
}
#title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, san-serif;
    font-size:2.3em;
    justify-content:center;
    color:lavenderblush;
}

.sidebar{
    justify-content:flex-end;
    padding-right:10px;
}
.sidebar a{
    float:left;
    text-align: center;
    margin-top:35px;
    margin-right:5px;
    padding:0px 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    background-color: transparent;
    border:none;
    position:relative;
    justify-content:flex-end;
}

.sidebar a:hover{
     background-color: #000;
}